# Populate the data and save as .env file
# Rainbow Application
RAINBOW_SERVER=<rainbow_server>
RAINBOW_APP_ID=<ApplicationID>
RAINBOW_APP_SECRET=<AppSecret>

# Rainbow Hospitality
PMS_BASE_URL=https://red-rhg.openrainbow.io/provisioningapi
PMS_API_BASE_URL=https://red-rhg.openrainbow.io/provisioningapi/api
PMS_USERNAME=<Username>
PMS_PASSWORD=<Password>
PMS_TIMEOUT=10

# Hotel services
ROOM_SERVICE_URL=https://sgdemo-vna01.apac-deepsky.com:1357/api/flows/new-request
ROOM_SERVICE_VERIFY=true

# Extensions / numbers
GUESTSERVICE_EXT=1111
FRONTDESK_EXT=0
OPERATOR_EXT=1111
CONCIERGE_EXT=0
EMERGENCY_CONTACT=1111
